html, body, #root {
    height: 100%;
}

body {
    margin: 0;
}

.ant-select {
    margin: 10px;
}

.menu-wrapper {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 210px;
    overflow: hidden;
    background: lightgray;

    .menus {
        height: 100%;
        background: #fff;
        width: 200px;
    }
}

.top-wrapper {
    background: lightgray;
    height: 90px;
    .top {
        height: 80px;
        background: #fff;
    }
}

.store, .main-content {
    height: 100%;
    background: #fff;
}

.main {
    margin-left: 210px;
    height: 100%;
}

.context {

    margin-top: 10px;
    min-height: 500px;
}

ul, li, div, p, form {
    padding: 0;
    margin: 0;
}

.inlines {
    display: inline-block;
    & > li {
        display: inline-block;

    }
}

body {
    .ant-form-item-label,
    .ant-form-item-control-wrapper,
    .ant-form-item-wrapper,
    .ant-form-item-contrl {
        display: inline-block;
        vertical-align: top;
    }

    .ant-modal-header {
        background: @primary-color;
        text-align: center;

    }

    .ant-form {
        .ant-row {
            vertial-align: top;
        }
    }
    .ant-modal-title, .ant-modal-close-x {
        color: #fff;
    }

    .ant-table {
        thead {
            th {
                background-color: @primary-color;
                color: #fff;
            }
        }

        th, td {
            border: 1px solid #e8e8e8;
        }
    }

}
